version: "3.9"

services:
  strapi:
    build: .
    ports:
      - "1337:1337"
    env_file: .env

  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: strapi
      POSTGRES_USER: strapi
      POSTGRES_PASSWORD: strapi
