name: CD - Deploy to ECS

on:
  workflow_dispatch:
    inputs:
      IMAGE_TAG:
        required: true




jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - uses: hashicorp/setup-terraform@v3

      - run: terraform init
        working-directory: terraform

      - run: terraform apply -auto-approve -var="image_tag=${{ github.event.inputs.IMAGE_TAG }}" -var="ecr_repo=${{ secrets.ECR_REPO }}"
        working-directory: terraform
        